# python
*.zip
*.pyc
venv/
dist/
*.egg-info/
*.egg
build/

# intellij
.idea

# android studio
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

